<div class="wrapper">
    <ul cdkListbox class="demo-listbox"
        [multiple]="multiSelectable"
        [useActiveDescendant]="activeDescendant">
        <li cdkOption class="basic-option">Apple</li>
        <li cdkOption class="basic-option">Orange</li>
        <li cdkOption class="basic-option">Grapefruit</li>
        <li cdkOption class="basic-option">Peach</li>
    </ul>

    <br>
    <button (click)="toggleMultiple()">Toggle Multiple</button>
    <br>
    <button (click)="toggleActiveDescendant()">Toggle Active Descendant</button>

    <br> <br>

    <ul cdkListbox class="filter-chip-listbox"
        [multiple]="true"
        [useActiveDescendant]="false">
        <li cdkOption class="chip-option">Filter 1</li>
        <li cdkOption class="chip-option">Filter 2</li>
        <li cdkOption class="chip-option">Filter 3</li>
        <li cdkOption class="chip-option">Filter 4</li>
    </ul>
</div>

