.wrapper {
  width: 100%;
  height: 100%;
  margin: 20px;
}

.demo-listbox {
  list-style-type: none;
  border: 1px solid black;
  cursor: default;
  padding: 0px;
  width: 100px;
}

.demo-listbox .cdk-option-active {
  background: lightgrey;
}

.demo-listbox .cdk-option-selected {
  background: cornflowerblue;
}

.filter-chip-listbox {
  list-style-type: none;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.basic-option {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  padding-top: 10px;
}

.basic-option:focus {
  outline: none;
}

.chip-option {
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;

  padding: 10px;
  margin: 10px;

  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chip-option:focus {
  outline: none;
}

.filter-chip-listbox .cdk-option-active {
  background: lightgrey;
}

.filter-chip-listbox .cdk-option-selected {
  background: cornflowerblue;
}
