<div class="wrapper">
    <b>Basic listbox</b>
    <ul cdkListbox class="demo-listbox"
        [multiple]="multiSelectable">
        <li cdkOption class="basic-option">Apple</li>
        <li cdkOption class="basic-option" [disabled]="disabledOption2">Orange</li>
        <li cdkOption class="basic-option">Grapefruit</li>
        <li cdkOption class="basic-option">Peach</li>
    </ul>

    <br>
    <button (click)="toggleMultiple()">Toggle Multiple</button>
    <br>
    <button (click)="toggleDisabledOption()">{{disabledOption2 ? 'Enable' : 'Disable'}} Option 2</button>

    <br> <br> <br>

    <b>Filter chip styled listbox</b>
    <ul cdkListbox class="filter-chip-listbox"
        [multiple]="true"
        [listboxOrientation]="'horizontal'">
        <li cdkOption class="chip-option">Filter 1</li>
        <li cdkOption class="chip-option">Filter 2</li>
        <li cdkOption class="chip-option">Filter 3</li>
        <li cdkOption class="chip-option">Filter 4</li>
    </ul>
</div>

