.google-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
}

.mobile-screen {
  border-color: rgb(100, 100, 100);
  border-radius: 36px;
  border-style: solid;
  border-width: 60px 16px;
  height: 640px;
  margin: 16px;
  width: 360px;
}

.filter-bar {
  width: 360px;
  height: 60px;
  overflow: auto;
  border-bottom: 1px solid darkgrey;
}

.restaurant-results {
  width: 360px;
  height: 640px;
}

.restaurant-option {
  width: 340px;
  height: 40px;
  padding: 15px 0px 0px 20px;
  border-bottom: 1px solid darkgrey;
}

#google-logo {
  width: 250px;
  margin-top: 20px;
}

#search-bar {
  width: 500px;
  height: 40px;
  background: rgb(300, 300, 300);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
}

#search-bar:hover {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  border: none;
}

#search-bar:focus {
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  border: none;
  outline: none;
}

#search-bar.opened {
  box-shadow: none;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px 20px 0px 0px;
}

#search-combobox {
  margin-left: 35px;
  width: 90%;
  height: 90%;
  border: none;
  background: transparent;
}

#search-combobox:focus {
  outline: none;
}

#search-listbox:focus {
  outline: none;
}

#search-listbox {
  list-style-type: none;
  cursor: default;
  background: rgb(300, 300, 300);
  width: 500px;
  margin-left: -36px;
  margin-top: 2px;
  padding: 10px 0px 15px 0px;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 0px 0px 20px 20px;
}

#search-listbox .cdk-option-active {
  background: lightgrey;
}

#search-listbox .cdk-option-selected {
  background: cornflowerblue;
}

.search-options {
  width: 98%;
  height: 25px;
  padding-left: 10px;
  padding-top: 10px;
}

.search-options:hover {
  background: lightgrey;
}

.search-options:focus {
  outline: none;
}

#search-icon {
  position: absolute;
  margin-top: 9px;
  margin-left: 9px;
  color: rgb(150, 150, 150);
}

.filter-chip-listbox {
  list-style-type: none;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.chip-option {
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;

  padding: 5px 15px 5px 15px;
  margin: 0px 5px 0px 5px;

  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chip-option:focus {
  outline: none;
}

.filter-chip-listbox .cdk-option-selected {
  color: rgb(8, 110, 212);
  background: rgb(220, 236, 252);
}

.chip-option:hover {
  background: lightgrey;
}

