.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  height: 100%;
  width: 100%;
}

.example-sidenav {
  width: 200px;
}

.nav-listbox {
  width: 100%;
}

.nav-option {
  width: 100%;
  height: 30px;

  padding-top: 10px;
  padding-left: 10px;
}

.nav-option:focus {
  outline: none;
}

.nav-listbox .cdk-option-active {
  background: rgb(220, 220, 220);
}

.nav-listbox .cdk-option-selected {
  background: rgb(180, 180, 180);
}

mat-nav-list a:before {
  position: absolute;
  left: 0%;
  width: 0;
  height: 48px;
  background: rgb(52, 221, 170);
  content: '';
  transition: width 0.30s ease-in-out;
}


mat-nav-list a {
  transition: 0.3s ease-in-out;
  padding-left: 8px;
  color: black;
}

mat-nav-list a:hover:before {
  width: 16px;
}

mat-nav-list a:hover {
  padding-left: 16px;
  transition: 0.3s ease-in-out;
}
