<mat-drawer-container class="example-container" autosize>
    <mat-drawer class="example-sidenav" mode="side" [opened]="true">
        <mat-nav-list>
            <a mat-list-item class="nav-option" [routerLink]="['/listbox']">Listbox Examples</a>
            <a mat-list-item class="nav-option" [routerLink]="['/combobox']">Combobox Examples</a>
            <a mat-list-item class="nav-option" [routerLink]="['/search']">Google Search</a>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet class="sidenavContent">

        </router-outlet>
    </div>

</mat-drawer-container>
