<div class="wrapper">
    <b>Combobox with input dialog (toggles on click)</b>
    <br>
    <button cdkCombobox class="example-combobox"
            [cdkComboboxTriggerFor]="panel"
            [openActions]="'toggle'">
        No Value
    </button>

    <ng-template cdkComboboxPanel #panel="cdkComboboxPanel">
        <div cdkComboboxPopup [parentPanel]="panel" [firstFocus]="input">
            <input #input>
            <button (click)="panel.closePanel(input.value)">Apply</button>
        </div>
    </ng-template>

    <br> <br> <br>

    <b>Combobox with listbox (toggles on click)</b>
    <br>
    <button cdkCombobox class="example-combobox" [cdkComboboxTriggerFor]="listboxPanel" [openActions]="'toggle'">
        Choose Car
    </button>

    <ng-template cdkComboboxPanel #listboxPanel="cdkComboboxPanel">
        <ul cdkListbox class="demo-listbox" [parentPanel]="listboxPanel">
            <li cdkOption class="simple-option" [value]="'Mercedes'">Mercedes</li>
            <li cdkOption class="simple-option" [value]="'BMW'">BMW</li>
            <li cdkOption class="simple-option" [value]="'Audi'">Audi</li>
            <li cdkOption class="simple-option" [value]="'Tesla'">Tesla</li>
        </ul>
    </ng-template>

    <br> <br> <br>

    <b>Input Combobox with listbox (opens on downKey or click)</b>
    <br>
    <input #fruitInput cdkCombobox #fruitCombobox='cdkCombobox'
           (input)="inputValue.next(fruitInput.value)"
           [cdkComboboxTriggerFor]="fruitPanel"
           [openActions]="'downKey click'">

    <ng-template cdkComboboxPanel #fruitPanel="cdkComboboxPanel">
        <ul cdkListbox class="demo-listbox" [parentPanel]="fruitPanel">
            <li cdkOption class="simple-option" *ngFor="let fruit of getFruit(inputValue | async)" [value]="fruit">{{fruit}}</li>
        </ul>
    </ng-template>

    <br> <br> <br>

    <b>Ice Cream selection combobox</b>
    <br>
    <button cdkCombobox class="example-combobox"
            [cdkComboboxTriggerFor]="flavorPanel"
            [openActions]="'click'">
        Flavor
    </button>
    <ng-template cdkComboboxPanel #flavorPanel="cdkComboboxPanel">
        <div cdkComboboxPopup class="flavor-popup" [parentPanel]="flavorPanel" [firstFocus]="flavorInput">
            <div id="flavor-header-bar">
                <b>Select one flavor</b>
                <mat-icon (click)="flavorPanel.closePanel()">close</mat-icon>
            </div>
            <input #flavorInput placeholder="Filter" class="flavor-input" (input)="flavorValue.next(flavorInput.value)">
            <br>
            <ul cdkListbox class="demo-listbox" id="flavor-list" #flavorList="cdkListbox">
                <li cdkOption class="flavor-option" *ngFor="let flavor of getFlavors(flavorValue | async)" [value]="flavor">{{flavor}}</li>
            </ul>
            <div class="flavor-footer">
                <button (click)="flavorPanel.closePanel()" id="flavor-cancel">Cancel</button>
                <button (click)="flavorPanel.closePanel(flavorList.getSelectedValues())" id="flavor-apply">Apply</button>
            </div>
        </div>

    </ng-template>
</div>

